body{
    background-color: lightslategray;
    margin:0;
    padding:0;
    line-height: 150%;
    font-size: 18px;

}
header{
  background-color: black;
 margin-bottom: 10px;
}
h1{
    color: firebrick;
    text-align: center;
    /* margin: 0 auto; */
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
}
ul{
   
  list-style-type: none;
  margin: 0 auto;
  width: 960px;
  clear:both;
  height: 50px;
  padding: 0;
 
  
}
li{
  /* text-align: center; */
  
  float:left;
  margin-left:15%;
  border: 1px solid black;
  
  font-size: 120%;
  padding:2px;
}
  li a{
    
    color: rgb(6, 102, 97);
    background-color: goldenrod;
    text-decoration: none;
  }
  li a:visited{
    background-color:black;
    color:whitesmoke;
  }
  li a:hover {
    background-color:darkred;
    color:gold;
  }
  
  input[type=text] {
    width: 150px;
    padding 12px;
    margin-top:10px;
    margin-bottom:10px;
    /* margin-left:10px; */
    box-sizing: border-box;
    border: 2px solid darkblue;
    border-radius: 5px;
    outline: none;
    /* float:left; */
    

  }
  
  input[type=text]:focus{
    border: 4px solid darkblue;
  }
  input[type=submit]{
    box-sizing: border-box;
    background-color:black;
    color: gold;
    width:70px;
    height: 30px;
    outline:none;
    float:left;
    padding:2px;
    
  }
  input[type=submit]:hover{
    background-color:darkslategrey;
  }
  form{
    width:40%;
    height:300px;
    /* border-style: groove; */
    margin: 0 auto;
    /* background-color: red; */
  }
  fieldset{
    width: 400px;
    background-color:darkred;
    margin:0 auto;
    color:gold;
  }
  legend{
    margin:0 auto;
    color:gold;

  }
  textarea{
    width: 400px;
    height: 100px;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid darkblue;
    border-radius: 4px;
    resize:none;
    outline:none;
    float:left;

  }

  textarea:focus{
    border: 4px solid darkblue;
  }
  /* #firstname{
    float:left;
  }
  #lastname{
    float:left;
  } */