body {
    background-color: lightslategray;
    margin: 0;
    padding: 0;
    line-height: 150%;
    font-size: 18px;
}

header {
    background-color: black;
    /* margin-bottom: 10px; */
}

h1 {
    color: firebrick;
    text-align: center;
    /* margin: 0 auto; */
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    width: 960px;
    clear: both;
    height: 50px;
    padding: 0;
}

li {
    /* text-align: center; */
    float: left;
    margin-left: 10%;
    border: 1px solid black;
    font-size: 120%;
    padding: 2px;
}

li a {
    color: rgb(6, 102, 97);
    background-color: goldenrod;
    text-decoration: none;
}

li a:visited {
    background-color: black;
    color: whitesmoke;
}

li a:hover {
    background-color: darkred;
    color: gold;
}

div {
    width: 100%;
    height: 350px;
    position: relative;
    margin-bottom: 10px;
}

img {
    width: 32%;
    height: 350px;
    position: relative;
    float: left;
    border: 2px solid black;
    margin-left: 0.8%;
}

img:hover {
    border: 5px solid gold;
    z-index: 2;
}

.portfolioLinks {
    position: absolute;
    top: 300px;
    z-index: 3;
    width: 100%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#theLinks1 {
    list-style-type: none;
    /* padding-bottom:1px; */
    float: left;
    margin-top: 2px;
    height: 30px;
    width: 8%;
    box-sizing: border-box;
    margin-left: 10%;
    background-color: gold;
    text-align: center;
    font-size: 100%;
}

#theLinks2 {
    list-style-type: none;
    /* padding-bottom:1px; */
    float: left;
    margin-top: 2px;
    height: 30px;
    width: 8%;
    box-sizing: border-box;
    margin-left: 28%;
    background-color: gold;
    text-align: center;
    font-size: 100%;
}

#theLinks3 {
    list-style-type: none;
    /* padding-bottom:1px; */
    float: right;
    margin-top: 2px;
    height: 30px;
    width: 8%;
    box-sizing: border-box;
    margin-right: 13%;
    background-color: gold;
    text-align: center;
    font-size: 100%;
}

#theLinks4 {
    list-style-type: none;
    /* padding-bottom:1px; */
    float: left;
    margin-top: 2px;
    height: 30px;
    width: 8%;
    box-sizing: border-box;
    margin-left: 10%;
    background-color: gold;
    text-align: center;
    font-size: 100%;
}

#theLinks5 {
    list-style-type: none;
    /* padding-bottom:1px; */
    float: left;
    margin-top: 2px;
    height: 30px;
    width: 8%;
    box-sizing: border-box;
    margin-left: 28%;
    background-color: gold;
    text-align: center;
    font-size: 100%;
}

#theLinks6 {
    list-style-type: none;
    /* padding-bottom:1px; */
    float: right;
    margin-top: 2px;
    height: 30px;
    width: 8%;
    box-sizing: border-box;
    margin-right: 13%;
    background-color: gold;
    text-align: center;
    font-size: 100%;
}

@media screen and (max-width:980px) {
    img {
        width: 30.33%;
        height: 250px;
        margin-left: 2%;
        border: 2px solid black;
    }
    div {
        border: 0px;
        height: 250px;
    }
    .portfolioLinks {
        top: 200px;
    }
    #theLinks1 {
        font-size: 100%;
        width: 10%;
        margin-left: 12%;
    }
    #theLinks2 {
        font-size: 100%;
        width: 10%;
        margin-left: 24%;
    }
    #theLinks3 {
        font-size: 100%;
        width: 10%;
        margin-right: 12%;
    }
    #theLinks4 {
        font-size: 100%;
        width: 10%;
        margin-left: 12%;
    }
    #theLinks5 {
        font-size: 100%;
        width: 10%;
        margin-left: 24%;
    }
    #theLinks6 {
        font-size: 100%;
        width: 10%;
        margin-right: 12%;
    }
}

@media screen and (max-width:768px) {
    img {
        height: 200px;
    }
    div {
        height: 200px;
    }
    li {
        margin-left: 7%;
    }
    .portfolioLinks {
        top: 150px;
    }
    #theLinks1 {
        font-size: 100%;
        width: 12%;
    }
    #theLinks2 {
        font-size: 100%;
        width: 12%;
        margin-left: 20%;
    }
    #theLinks3 {
        font-size: 100%;
        width: 12%;
        margin-right: 10%;
    }
    #theLinks4 {
        font-size: 100%;
        width: 12%;
    }
    #theLinks5 {
        font-size: 100%;
        width: 12%;
        margin-left: 20%;
    }
    #theLinks6 {
        font-size: 100%;
        width: 12%;
        margin-right: 10%;
    }
}

@media screen and (max-width:640px) {
    li {
        margin-left: 4.5%;
    }
    .portfolioLinks {
        top: 150px;
    }
    #theLinks1 {
        width: 15%;
        font-size: 100%;
        margin-left: 11%;
    }
    #theLinks2 {
        width: 15%;
        font-size: 100%;
        margin-left: 18%;
    }
    #theLinks3 {
        width: 15%;
        font-size: 100%;
        margin-right: 8%;
    }
    #theLinks4 {
        width: 15%;
        font-size: 100%;
        margin-left: 11%;
    }
    #theLinks5 {
        width: 15%;
        font-size: 100%;
        margin-left: 18%;
    }
    #theLinks6 {
        width: 15%;
        font-size: 100%;
        margin-right: 8%;
    }
}