body{
  background-color: lightslategray;
  margin:0;
  padding:0;
  line-height: 150%;
  font-size: 18px;

}
header{
background-color: black;
margin-bottom: 10px;
}
h1{
  color: firebrick;
  text-align: center;
  /* margin: 0 auto; */
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
}
ul{
 
list-style-type: none;
margin: 0 auto;
width: 960px;
clear:both;
height: 50px;
padding: 0;


}

li{
/* text-align: center; */

float:left;
margin-left:15%;
border: 1px solid black;

font-size: 120%;
padding:2px;
}
li a{
  
  color: rgb(6, 102, 97);
  background-color: goldenrod;
  text-decoration: none;
}
li a:visited{
  background-color:black;
  color:whitesmoke;
}
li a:hover {
  background-color:darkred;
  color:gold;
}
div{
  width:100%;
  height:350px;
  border: 1px ridge black;
  background-color: black;
}
img{
  width: 33%;
  height:350px;
  float:left;
  border-right: 1px solid black;
  margin-right: 3px;
}

.portfolioLinks{
  width: 100%;
  height: 35px;
  background-color: darkred;
  margin-top:10px;
  margin-bottom: 10px;
}
#theLinks1{
  list-style-type:none;
  /* padding-bottom:1px; */
  float:left;
  margin-top:2px;
  height: 30px;
  width:8%;
  box-sizing: border-box;
  margin-left:10%;
  
  background-color: gold;
  text-align: center;
  font-size:100%;
}
#theLinks2{

  list-style-type:none;
  /* padding-bottom:1px; */
  float:left;
  margin-top:2px;
  height: 30px;
  width:8%;
  box-sizing: border-box;
  margin-left:28%;
  
  background-color: gold;
  text-align: center;
  font-size:100%;
  
  

}
#theLinks3{
  list-style-type:none;
  /* padding-bottom:1px; */
  float:right;
  margin-top:2px;
  height: 30px;
  width:8%;
  box-sizing: border-box;
  margin-right:13%;
  
  background-color: gold;
  text-align: center;
  font-size:100%;

}
#theLinks4{
  list-style-type:none;
  /* padding-bottom:1px; */
  float:left;
  margin-top:2px;
  height: 30px;
  width:8%;
  box-sizing: border-box;
  margin-left:10%;
  
  background-color: gold;
  text-align: center;
  font-size:100%;

}
#theLinks5{
  list-style-type:none;
  /* padding-bottom:1px; */
  float:left;
  margin-top:2px;
  height: 30px;
  width:8%;
  box-sizing: border-box;
  margin-left:28%;
  
  background-color: gold;
  text-align: center;
  font-size:100%;
  
}
#theLinks6{
  list-style-type:none;
  /* padding-bottom:1px; */
  float:right;
  margin-top:2px;
  height: 30px;
  width:8%;
  box-sizing: border-box;
  margin-right:13%;
  
  background-color: gold;
  text-align: center;
  font-size:100%;
}
  